Repository codesquad-2023-kiosk-team01/kiosk-max, pull requests merged in 2023-06, with the labels that each got.

#6 [BE] 프로젝트 초기 설정
  backend/.gitignore
  backend/build.gradle
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
  backend/src/main/java/kr/codesquad/kiosk/KioskApplication.java
  backend/src/main/resources/application.yml
Labels: backend

#7 [FE] 초기 개발 환경 설정
  frontend/.gitignore
  frontend/.prettierrc
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/index.css
  frontend/src/index.tsx
  frontend/src/react-app-env.d.ts
  frontend/tsconfig.json
Labels: frontend

#15 [FE] Navigation 컴포넌트 구현
  frontend/src/App.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/index.tsx
  frontend/src/style/App.module.css
  frontend/src/style/Navigation.module.css
  frontend/src/utils/types.tsx
Labels: frontend, feat

#17 [BE] DB 스키마 작성
  backend/src/main/java/kr/codesquad/kiosk/domain/Item.java
  backend/src/main/java/kr/codesquad/kiosk/domain/Options.java
  backend/src/main/java/kr/codesquad/kiosk/domain/Orders.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/schema.sql
Labels: backend, feat

#22 [BE] 영수증 주문번호 출력을 위한 스키마 수정
  backend/src/main/resources/schema.sql
Labels: backend 🔗, fix 🧹

#23 [BE] 결제 방식 목록을 반환하는 API 추가
  backend/src/main/java/kr/codesquad/kiosk/exception/ErrorCode.java
  backend/src/main/java/kr/codesquad/kiosk/payment/controller/PaymentController.java
  backend/src/main/java/kr/codesquad/kiosk/payment/controller/response/PaymentResponse.java
  backend/src/main/java/kr/codesquad/kiosk/payment/controller/response/PaymentsResponse.java
  backend/src/main/java/kr/codesquad/kiosk/payment/domain/Payment.java
  backend/src/main/java/kr/codesquad/kiosk/payment/repository/PaymentRepository.java
  backend/src/main/java/kr/codesquad/kiosk/payment/service/PaymentService.java
  backend/src/test/java/kr/codesquad/kiosk/fixture/FixtureFactory.java
  backend/src/test/java/kr/codesquad/kiosk/payment/controller/PaymentControllerTest.java
  backend/src/test/java/kr/codesquad/kiosk/payment/service/PaymentServiceTest.java
Labels: backend 🔗, feature 🪓

#26 [FE] 메인 페이지 구현
  frontend/src/App.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/components/content/Content.tsx
  frontend/src/components/content/SelectModal.tsx
  frontend/src/mockData.ts
  frontend/src/style/App.module.css
  frontend/src/style/Content.module.css
  frontend/src/style/Navigation.module.css
  frontend/src/utils/types.tsx
Labels: frontend ✨, feature 🪓

#36 [BE] CI/CD 스크립트 변경
  .github/workflows/cicd.yml
  README.md
  backend/appspec.yml
  backend/autodeploy.sh
  backend/src/main/resources/application.yml
Labels: backend 🔗, setting ⚙️

#35 [BE] 결제 완료 시 영수증 정보 반환 API 설계
  backend/src/main/java/kr/codesquad/kiosk/exception/ErrorCode.java
  backend/src/main/java/kr/codesquad/kiosk/orders/controller/OrderController.java
  backend/src/main/java/kr/codesquad/kiosk/orders/controller/dto/OrderItemResponse.java
  backend/src/main/java/kr/codesquad/kiosk/orders/controller/dto/OrdersResponse.java
  backend/src/main/java/kr/codesquad/kiosk/orders/controller/dto/response/OrderReceiptResponse.java
  backend/src/main/java/kr/codesquad/kiosk/orders/repository/OrderRepository.java
  backend/src/main/java/kr/codesquad/kiosk/orders/service/OrderService.java
  backend/src/test/java/kr/codesquad/kiosk/fixture/FixtureFactory.java
  backend/src/test/java/kr/codesquad/kiosk/orders/controller/OrderControllerTest.java
  backend/src/test/java/kr/codesquad/kiosk/orders/service/OrderServiceTest.java
Labels: backend 🔗, feature 🪓

#37 [BE] 카테고리 목록을 반환하는 API 추가 및 수정
  .github/workflows/cicd.yml
  backend/appspec.yml
  backend/autodeploy.sh
  backend/src/main/java/kr/codesquad/kiosk/category/controller/CategoryController.java
  backend/src/main/java/kr/codesquad/kiosk/category/domain/Category.java
  backend/src/main/java/kr/codesquad/kiosk/category/dto/response/CategoryResponse.java
  backend/src/main/java/kr/codesquad/kiosk/category/repository/CategoryRepository.java
  backend/src/main/java/kr/codesquad/kiosk/category/service/CategoryService.java
  backend/src/main/java/kr/codesquad/kiosk/exception/ErrorCode.java
  backend/src/main/java/kr/codesquad/kiosk/orders/controller/OrderController.java
  backend/src/main/java/kr/codesquad/kiosk/orders/controller/dto/OrderItemResponse.java
  backend/src/main/java/kr/codesquad/kiosk/orders/controller/dto/OrdersResponse.java
  backend/src/main/java/kr/codesquad/kiosk/orders/controller/dto/response/OrderReceiptResponse.java
  backend/src/main/java/kr/codesquad/kiosk/orders/repository/OrderRepository.java
  backend/src/main/java/kr/codesquad/kiosk/orders/service/OrderService.java
  backend/src/main/resources/application.yml
  backend/src/test/java/kr/codesquad/kiosk/category/controller/CategoryControllerTest.java
  backend/src/test/java/kr/codesquad/kiosk/category/service/CategoryServiceTest.java
  backend/src/test/java/kr/codesquad/kiosk/fixture/FixtureFactory.java
  backend/src/test/java/kr/codesquad/kiosk/orders/controller/OrderControllerTest.java
  backend/src/test/java/kr/codesquad/kiosk/orders/service/OrderServiceTest.java
Labels: backend 🔗, feature 🪓

#39 [BE] #35 PR 피드백 반영
  backend/src/main/java/kr/codesquad/kiosk/orders/controller/dto/OrderItemResponse.java
  backend/src/main/java/kr/codesquad/kiosk/orders/controller/dto/OrdersResponse.java
  backend/src/main/java/kr/codesquad/kiosk/orders/controller/dto/response/OrderReceiptResponse.java
  backend/src/main/java/kr/codesquad/kiosk/orders/repository/OrderRepository.java
  backend/src/main/resources/application.yml
  backend/src/test/java/kr/codesquad/kiosk/fixture/FixtureFactory.java
  backend/src/test/java/kr/codesquad/kiosk/orders/controller/OrderControllerTest.java
  backend/src/test/java/kr/codesquad/kiosk/orders/service/OrderServiceTest.java
Labels: backend 🔗, fix 🧹

#41 [BE] CI/CD 스크립트 변경
  .github/workflows/cicd.yml
  backend/autodeploy.sh
Labels: infrasturcture 🛠

#47 [BE] 프로파일 분리
  .github/workflows/cicd.yml
  backend/.gitignore
  backend/autodeploy.sh
  backend/src/main/resources/application-local.yml
  backend/src/main/resources/application.yml
  backend/src/test/resources/application.yml
Labels: backend 🔗, feature 🪓

#38 [BE] 메뉴 상세 항목 반환 API의 반환 값에 option id 추가
  backend/src/main/java/kr/codesquad/kiosk/item/controller/dto/response/ItemDetailsResponse.java
  backend/src/main/java/kr/codesquad/kiosk/item/controller/dto/response/OptionsResponse.java
  backend/src/main/java/kr/codesquad/kiosk/item/repository/ItemRepository.java
  backend/src/main/java/kr/codesquad/kiosk/item/service/ItemService.java
  backend/src/test/java/kr/codesquad/kiosk/fixture/FixtureFactory.java
  backend/src/test/java/kr/codesquad/kiosk/item/service/ItemServiceTest.java
Labels: backend 🔗, feature 🪓

#49 [BE] CORS 설정
  backend/autodeploy.sh
  backend/src/main/java/kr/codesquad/kiosk/config/CorsConfiguration.java
Labels: backend 🔗, feature 🪓

#52 [FE] Navigation 컴포넌트 리팩토링, api 연동
  frontend/src/App.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/mockData.ts
  frontend/src/utils/types.tsx
Labels: frontend ✨, fix 🧹

#60 [FE] Content 컴포넌트 api 연동 및 리팩토링
  frontend/src/App.tsx
  frontend/src/components/Content.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/components/PaymentModal.tsx
  frontend/src/components/SelectModal.tsx
  frontend/src/components/content/Content.tsx
  frontend/src/mockData.ts
  frontend/src/style/Content.module.css
  frontend/src/style/SelectModal.module.css
  frontend/src/utils/types.tsx
Labels: frontend ✨, fix 🧹

#58 [BE] 사용자가 네비게이션 바를 선택하면 해당 메뉴들을 반환하는 API 설계
  backend/src/main/java/kr/codesquad/kiosk/category/controller/CategoryController.java
  backend/src/main/java/kr/codesquad/kiosk/category/controller/dto/ItemResponse.java
  backend/src/main/java/kr/codesquad/kiosk/category/controller/dto/response/CategoryItemsResponse.java
  backend/src/main/java/kr/codesquad/kiosk/category/controller/dto/response/CategoryResponse.java
  backend/src/main/java/kr/codesquad/kiosk/category/repository/CategoryRepository.java
  backend/src/main/java/kr/codesquad/kiosk/category/service/CategoryService.java
  backend/src/main/java/kr/codesquad/kiosk/exception/ErrorCode.java
  backend/src/test/java/kr/codesquad/kiosk/category/controller/CategoryControllerTest.java
  backend/src/test/java/kr/codesquad/kiosk/category/service/CategoryServiceTest.java
  backend/src/test/java/kr/codesquad/kiosk/fixture/FixtureFactory.java
Labels: backend 🔗, feature 🪓

#62 [BE] CI/CD 스크립트 수정
  .github/workflows/cicd.yml
Labels: backend 🔗, infrasturcture 🛠, fix 🧹

#65 [BE] Swagger Doc 작성
  backend/build.gradle
  backend/src/main/java/kr/codesquad/kiosk/category/controller/CategoryController.java
  backend/src/main/java/kr/codesquad/kiosk/item/controller/ItemController.java
  backend/src/main/java/kr/codesquad/kiosk/orders/controller/OrderController.java
  backend/src/main/java/kr/codesquad/kiosk/orders/controller/OrderTestApiController.java
  backend/src/main/java/kr/codesquad/kiosk/payment/controller/PaymentController.java
Labels: documentation 📃, backend 🔗

#64 [BE] ItemControllerTest 리팩토링
  backend/src/test/java/kr/codesquad/kiosk/item/controller/ItemControllerTest.java
Labels: backend 🔗, refactor

#66 [BE] 영수증 노출 시 옵션 항목도 함께 출력
  backend/src/main/java/kr/codesquad/kiosk/orders/controller/dto/OptionDetailsParam.java
  backend/src/main/java/kr/codesquad/kiosk/orders/controller/dto/OrderItemResponse.java
  backend/src/main/java/kr/codesquad/kiosk/orders/controller/dto/response/OrderReceiptResponse.java
  backend/src/main/java/kr/codesquad/kiosk/orders/repository/OrderRepository.java
  backend/src/main/java/kr/codesquad/kiosk/orders/service/OrderService.java
  backend/src/test/java/kr/codesquad/kiosk/fixture/FixtureFactory.java
  backend/src/test/java/kr/codesquad/kiosk/orders/controller/OrderControllerTest.java
  backend/src/test/java/kr/codesquad/kiosk/orders/service/OrderServiceTest.java
Labels: backend 🔗, feature 🪓

#71 [BE] #68, #69, #70 통합
  backend/src/main/java/kr/codesquad/kiosk/orders/controller/OrderController.java
  backend/src/main/java/kr/codesquad/kiosk/orders/controller/dto/request/OrderItemRequest.java
  backend/src/main/java/kr/codesquad/kiosk/orders/controller/dto/request/OrderReceiptRequest.java
  backend/src/main/java/kr/codesquad/kiosk/orders/service/OrderService.java
  backend/src/main/java/kr/codesquad/kiosk/payment/domain/PaymentType.java
  backend/src/main/resources/application.yml
Labels: documentation 📃, backend 🔗, feature 🪓, fix 🧹

#67 [FE] Receipt 컴포넌트 구현 및 결제 기능 구현
  frontend/src/App.tsx
  frontend/src/assets/card.svg
  frontend/src/assets/cash.svg
  frontend/src/assets/indicator-unscreen.gif
  frontend/src/assets/indicator.gif
  frontend/src/assets/indicator.png
  frontend/src/components/Basket.tsx
  frontend/src/components/ErrorModal.tsx
  frontend/src/components/PaymentModal.tsx
  frontend/src/components/Receipt.tsx
  frontend/src/components/SelectModal.tsx
  frontend/src/style/ErrorModal.module.css
  frontend/src/style/PaymentModal.module.css
  frontend/src/style/Receipt.module.css
Labels: frontend ✨, feature 🪓

#74 [BE] 현금 결제 시 카드 결제 에러 코드를 반환하는 버그 수정
  backend/src/main/java/kr/codesquad/kiosk/orders/service/OrderService.java
Labels: backend 🔗, fix 🧹
